{{ form_start(form, {'attr': {'class': 'mt-4'}}) }}
    
    {# Styling form rows #}
    {% for child in form.children %}
    <div class="form-group">
        {{ form_label(child) }}
        {{ form_widget(child, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(child) }}
    </div>
    {% endfor %}

    <button class="btn btn-primary">
        {{ button_label|default('Save') }}
    </button>
    
{{ form_end(form) }}
