{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-3 text-center my-4 text-dark font-weight-bold">{{ category.name }}</h1>

        <a href="{{ path('app_category_index') }}" class="btn btn-secondary mb-3">Retourner à la liste des catégories.</a>

        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Title</th>
                        <th>Content</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content }}</td>
                        <td>
                            <a href="{{ path('app_article_show', {'id': article.id}) }}" class="btn btn-primary btn-sm">show</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center text-muted">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

